* {
  box-sizing: border-box;
}

:root {
  --accent-color: #deadff;
  --placeholder-color: rgb(201, 201, 201);
  --translation-area-gap: 5%;
}

.submit-btn,
.text-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  display: block;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--placeholder-color);
  opacity: 0.7;
}

ul {
  list-style-type: none;
}

.large-font {
  font-size: large;
}

.translation-area {
  display: flex;
  gap: var(--translation-area-gap);
}

.translation-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-input,
.translated-text {
  background-color: transparent;
  color: white;
  font-family: inherit;

  font-weight: 400;
  font-style: inherit;

  border: #89649c;

  border-radius: 0.5em;
  border-width: 3px;
  border-style: solid;

  padding: 1em;
  margin: 0;

  flex-grow: 1;

  resize: none;
}
.text-input:focus {
  border-color: var(--accent-color);
}

.submit-btn {
  border-radius: 5em;
  margin: 0;
  padding: 0.7em 2em;

  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  flex-grow: 0;

  box-shadow: 0 0 1.1rem var(--accent-color);
  transition: box-shadow 0.1s ease-in-out;
}

.submit-btn:hover {
  box-shadow: 0 0 2rem var(--accent-color);
}

.submit-btn:active {
  background-color: color-mix(in srgb, var(--accent-color) 100%, black 70%);
}

.text-input-label {
  display: block;
}

.translation-section {
  max-width: calc(50% - var(--translation-area-gap) / 2);
}

.options {
  gap: 2rem;
  margin: 2rem 0 3rem 0;
  row-gap: 1rem;
}

.sub-options {
  gap: 0.5rem;
}

.center-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.submit-language-pair {
  display: flex;
  gap: 2rem;
}

.distortion {
  background: none;
  border: none;

  color: inherit;
  font-size: large;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-gap-small {
  gap: 0.3rem;
}
.flex-gap-medium {
  gap: 1rem;
}

.copy-btn {
  width: 1rem;
  cursor: pointer;
}

.copy-btn:hover {
  filter: brightness(0.8);
}

.copy-btn:active {
  filter: brightness(0.6);
}

.secondary-text {
  color: rgb(184, 184, 184);
}

.language-select {
  appearance: none;
  background-color: #3f2d48;
  border: none;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  color: inherit;
  border-radius: 5em;
  padding: 0.7em 1.2em;
}

.language-select:focus {
  box-shadow: 0 0 0.5rem var(--accent-color);
}
@media (max-width: 800px) {
  .translation-area {
    flex-direction: column;
  }

  .translation-section {
    max-width: none;
  }

  .options {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 1rem;
  }

  .submit-language-pair {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }

  .copy-btn-wrapper {
    margin: 0;
  }
}

@media (max-width: 430px) {
  .submit-btn {
    padding: 0.7em 1em;
  }
  .language-select {
    padding: 0.7em;
  }
  h1 {
    font-size: 2.5rem;
  }
}
