:root {
  --slider-width: 10rem;
  --background-color: #3f2d48;
  --accent-color: rgb(223, 175, 255);

  --diameter: 15px;
}

input[type='range'] {
  /*required for proper track sizing in FF*/
  width: var(--slider-width);
}

input[type='range']::-moz-range-track {
  width: var(--slider-width);
  height: 5px;
  background: var(--background-color);
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-runnable-track {
  width: var(--slider-width);
  height: 5px;
  background: var(--background-color);
  border: none;
  border-radius: 3px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;
  background: #ba92d5;
  transition: scale 0.1s ease-in-out;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;
  background: #ba92d5;
  transition: scale 0.1s ease-in-out;

  margin-top: -5px;
}

input[type='range']::-moz-range-thumb:hover {
  scale: 1.2;
}

input[type='range']::-webkit-slider-thumb:hover {
  scale: 1.2;
}

input[type='range']::-moz-range-thumb:active {
  box-shadow: 0 0 10px var(--accent-color);
}
input[type='range']::-webkit-slider-thumb:active {
  box-shadow: 0 0 10px var(--accent-color);
}

input[type='range']:-moz-focusring {
  outline: none;
}

input[type='range']:focus::-moz-range-track {
  background: var(--background-color);
}

input[type='range'] {
  -webkit-appearance: none;
  outline: none;
}
