:root {
  --slider-width: 10rem;
  --background-color: #3f2d48;
}

/* firefox */

input[type='range'] {
  /* fix for FF unable to apply focus style bug  */

  /*required for proper track sizing in FF*/
  width: var(--slider-width);
}

input[type='range']::-moz-range-track {
  width: var(--slider-width);
  height: 5px;
  background: var(--background-color);
  border: none;
  border-radius: 3px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ba92d5;
}

/*hide the outline behind the border*/
input[type='range']:-moz-focusring {
  outline: none;
}

input[type='range']:focus::-moz-range-track {
  background: var(--background-color);
}

/* chrome-like */

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: var(--slider-width);
  height: 5px;
  background: var(--background-color);
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ba92d5;
  margin-top: -4px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--background-color);
}
