.arrow-down {
  width: 1.3rem;
}

.history-log {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.language-name {
  font-weight: 700;
  color: var(--accent-color);
}

.history {
  margin: 0;
  margin-bottom: 10rem;
  padding: 0;
  width: clamp(10rem, 60%, 100rem);
}
