@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Header';
  src: url('../src/fonts/Supreme-Variable.ttf');
}
.main-wrapper {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0 5%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-family: 'Header', serif;
  font-weight: 700;
}

.bg-gradient-prime {
  position: fixed;
  width: 140vw;
  height: 110vh;
  right: -90vw;
  bottom: -40vh;
  background: radial-gradient(#d79cff33, transparent 70%);
  z-index: 0;
  pointer-events: none;
}
.bg-gradient-secondary {
  position: fixed;
  width: 70vw;
  height: 50vh;
  left: -27vw;
  bottom: -22vh;
  background: radial-gradient(#dbacfa0c, transparent 60%);
  z-index: 0;
  pointer-events: none;
}
